*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;   
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --bg-color : #000000;
    --bg-button-color : #1a1a1a;
    
    --primary-text-color : #f4f4f4;

    /* padding variables */
    --nav-padding : 15px 30px;
    --section-padding : 15px 30px;
    --padding-s : 5px;
    --padding-m : 10px;
    --padding-l : 15px;
    --padding-xl : 20px;
    --padding-xxl : 35px;

    /* Border radius vriables*/
    --border-radius-s : 5px;
    --border-radius-m : 10px;
    --border-radius-l : 15px;
    --border-radius-xl : 20px;
    --border-radius-xxl : 30px;

}

body{
    background-color: var(--bg-color);
    color: var(--primary-text-color);
}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
   

}

nav{
    padding: var(--nav-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

nav button{
    background-color: var(--bg-button-color);
    border: none;
    outline: none;
    color: var(--primary-text-color);
    padding: var(--padding-m) var(--padding-l);
    cursor: pointer;
    border-radius: var(--border-radius-m);
}

section{
    padding: var(--section-padding);
    display: flex;
    justify-content: space-between;
    background-color: blue;
    flex-grow: 1;
    gap: var(--padding-xxl);
}

section .task-column{
    background-color: red;
    flex-grow: 1;

}